
@media(max-width:400px) and (min-width: 1px) {
    /* 1 */
    .landing {
        height: 80vh;
    }
    .landing .info {
        width: 100%;
    }
    .landing .separator {
        display: none;
    }
    .landing .links {
        display: none;
    }
    .landing .contact a {
        font-size: 1.7vh;
    }
    .landing .heading > h1 {
        font-size: 4vh;
    }
    .landing .heading > h2 {
        font-size: 4vh;
    }
    .landing .about > p {
        font-size: 2vh;
        padding-left: 0;
    }
    
    
    /* 2 */
    .About-us {
        height: 100vh;
    }
    .About-us > p {
        font-size: 1vh;
    }
    .info-block {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 95%;
    }
    .company-info-photo {
        width: 80%;
        height: 40%;
        border-top-right-radius: 1%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .company-info {
        width: 80%;
        height: 60%;
        border: 0.1vw solid rgb(107, 107, 107);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 7%;
        color: rgb(199, 199, 199);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5vw;
    }
    .company-info-text {
        width: 100%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0.1vw solid rgb(107, 107, 107);
        border-top-right-radius: 30%;
        border-top-left-radius: 30%;
        font-size: 1.5vh;
    }
    .company-info-text:nth-child(3) {
        border-bottom-right-radius: 20%;
    }
    
    /* 3 */
    .Galery-of-works > p {
        font-size: 1vh;
    }
    .g-image p {
        font-size: 1vh;
        letter-spacing: 0.3vh;
    }
    .g-text {
        font-size: 1.5vh;
    }
    /* 4 */
    .Our-advantages > .o-container {
        flex-direction: column;
    }
    .Our-advantages > p {
        font-size: 1vh;
    }
    .o-container > .o-block-image, .o-container > .o-block-text {
        width: 90%;
        height: 60vw;
    }
    .o-block-text .text h1 {
        font-size: 1.5vh;
        margin-bottom: 4vw;
        width: 80%;
    }
    .o-block-text .text h3 {
        font-size: 1.5vh;
        width: 90%;
    }
    .o-block-text .number {
        font-size: 1.5vh;
    }
    /* 5 */
    .Why-are-we {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #cacaca;
    }
    .w-container {
        width: 90%;
        height: 90%;
    }
    .Why-are-we > p {
        font-size: 1vh;
    }
    .w-container-heading {
        font-size: 1vh;
    }
    .w-container-text p {
        width: 48%;
        font-size: 1.5vh;
    }
    .w-container {
        border-left: 2vw solid #cacaca;
        border-bottom: 3vw solid #2e2e2e;
        border-top: 3vw solid #2e2e2e;
        border-right: 2vw solid #cacaca;
    }
    /* 6 */
    .Contact {
        height: 40vh;
    }
    .contact-text p {
        font-size: 1vh;
    }
    /* map */
    .novosibirsk-map {
        height: 39vh;
    }
    /* menu-haburger */
    .menu-hamburger {
        width: 7vw;
        height: 7vw;
    }
    .hamburger {
        height: 1vw;
    }
    .list {
        width: 20vh;
        height: 35vh;
    
    
    }
    .list li a{
        font-size: 2vh;
    }
    
    
    }
    