* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body, html {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1.3vw;             
}
body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);  
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(248, 84, 84);  
    border: 0.4vw solid rgb(255, 255, 255);
    border-radius: 10vw;    
}

.space10vw {
    height: 10vw;
}
.space5vw {
    height: 5vw;
}

/* Landing */
.landing {
    height: 60vw;
    width: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
}
.landing .info {
    width: 60%;
    height: 100%;
    background-color: rgb(26, 24, 31);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(240, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/backgroundPhoto2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing .contact {
    float: left;
    width: 100%;
    height: 20%;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 1.2vw;
    color: rgba(240, 238, 238, 0.7);
    text-shadow: 0.2vw 0.2vw 0.2vw grey;
}
.landing .contact a {
    color: rgba(240, 238, 238, 0.7);
    text-decoration: none;
    font-size: 1.2vw;
}
.landing .heading {
    float: left;
    width: 100%;
    height: 23%;
    padding-left: 10%;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    font-family: Arial;
    font-weight: 800;
}
.landing .about {
    float: left;
    width: 100%;
    padding-left: 10%;
    font-size: 1.4vw;
    font-style: italic;
}
.landing .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgb(233, 164, 16);
    writing-mode: vertical-lr;
}
.landing .separator h1 {
    text-orientation: upright;
    display: block;
    letter-spacing: 2vw;
    font-size: 2.3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.landing .links {
    width: 20%;
    height: 100%;
    background-image: url("../img/backgroundPhoto2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing .links a {
    display: block;
    color: rgb(219, 216, 216);
    text-decoration: none;
    margin-left: 10%;
    margin-top: 3%;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2vw;
    transition: all 0.5s;
}
.landing .links a:hover {
    transform: translateX(6%);
    color: rgb(253, 253, 253);
}
/* Landing */


/* About us */
.About-us {
    padding-top: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vw;
    /* background: linear-gradient(to bottom, #435a4c, #557e5d); */
    background-color: #2e2e2e;
}
.About-us > p {
    float: right;
    margin-bottom: 1.2vw;
    width: 80%;
    color: grey;
    font-size: 1vw;
}
.info-block {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.company-info {
    width: 40%;
    height: 120%;
    border: 0.1vw solid rgb(107, 107, 107);
    border-left: none;
    border-top-right-radius: 7%;
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
}
.company-info-photo {
    width: 50%;
    height: 120%;
    background-image: url(../img/PhotoDEREWO.jpg);
    background-size: cover;
    background-repeat: repeat;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}
.company-info-text {
    width: 98%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.1vw solid rgb(107, 107, 107);
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    text-align: center;
}
.company-info p {
    width: 80%;
}
.company-info:nth-child(4) p {
    width: 80%;
    height: 80%;
}
/* About us */


/* Galery-of-works */
.Galery-of-works {
    width: 100%;
    height: auto;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Galery-of-works > p {
    float: right;
    margin-top: 5vw;
    width: 80%;
    color: rgb(97, 97, 97);
    font-size: 1.2vw;
}

.g-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.g-image {
    width: 40%;
    height: auto;
    margin: 1vw;
    display: flex;
}
.g-image p {
    font-size: 1vw;
    font-family: Arial;
    letter-spacing: 0.3vw;
    color: rgb(65, 65, 65);
    writing-mode: vertical-rl;
    transform-origin: center;
    transform: rotate(180deg);
}
.g-image img {
    max-width: 100%;
    height: auto;
}
.g-text {
    width: 40%;
    height: auto;
    margin: 1vw;
    font-size: 2.7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(48, 48, 48);
}
.g-text > p, .g-text > h1 {
    padding-bottom: 5vw;
    font-family: monospace;
}
/* Galery-of-works */


/* Our advantages */
.Our-advantages {
    width: 100%;
    height: auto;
    background-color: #2c2c2c;
}
.Our-advantages > p {
    float: right;
    margin-bottom: 1.2vw;
    width: 90%;
    color: rgb(129, 129, 129);
    font-size: 1.2vw;
}

.Our-advantages > .o-container {
    width: 100%;
    height: auto;
    border-bottom: 0.1vw solid rgb(102, 102, 102);
    border-top: 0.1vw solid rgb(102, 102, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.o-container > .o-block-image, .o-container > .o-block-text {
    width: 45%;
    height: 30vw;
    border: 0.1vw solid rgb(102, 102, 102);
}
.o-block-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.o-block-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 2vw;
}
.o-block-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b6b6b6;
}
.o-block-text .number {
    width: 20%;
    height: 70%;
    text-align: center;
    color: rgb(230, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}
.o-block-text .text {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    color: #b6b6b6;
    font-family: Arial, Helvetica, sans-serif;
}
.o-block-text .text h1 {
    font-size: 2.5vw;
    margin-bottom: 4vw;
    width: 80%;
}
.o-block-text .text h3 {
    font-size: 1.2vw;
    width: 80%;
}

.o-block-image:nth-child(1), .o-block-text:nth-child(2) {
    border-top: none;
}
.o-block-image:nth-child(5), .o-block-text:nth-child(6) {
    border-bottom: none;
}

/* Our advantages */


/* Why-are-we */
.Why-are-we {
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #cacaca;
}
.Why-are-we > p {
    float: right;
    margin-bottom: 1vw;
    width: 80%;
    color: rgb(94, 94, 94);
    font-size: 1.2vw;
}
.w-container {
    width: 80%;
    height: 70%;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1vw solid #cacaca;
    border-bottom: 2vw solid #2e2e2e;
    border-top: 2vw solid #2e2e2e;
    border-right: 1vw solid #cacaca;
}
.w-container-heading {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    color: #c0c0c0;
    font-size: 1.5vw;
}
.w-container-text {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 7%;
    color: #c0c0c0;
}
.w-container-text p {
    width: 33%;
    padding: 1vw;
    font-size: 1.3vw;
}


/* Why-are-we */


/* Contact */
.Contact {
    width: 100%;
    height: 50%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-text {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
.contact-text p {
    width: 100%;
    height: 20vw;
    text-align: left;
    color: white;
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    padding: 10%;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-text a {
    color: rgb(153, 135, 253);
    text-decoration: none;
}

/* Map */
.novosibirsk-map {
    height: 40vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.novosibirsk-map .map {
    margin-top: 0;
    width: 100%;
    height: 100%;
}

/* Contact */






/* Menu-Gamburger */
nav {
    width: 100%;
    visibility: hidden;
}
.list {
    z-index: 2;
    padding: 2vw 0;
    width: 15vw;
    height: 20vw;
    background-color: rgb(233, 164, 16);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-110%);
    transition: all 0.8s;
}
.list li{
    text-decoration: none;
    background-color: rgb(233, 164, 16);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list li:hover {
    background-color: rgb(255, 201, 100);
}
.list li a{
    color: black;
    text-decoration: none;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 1.2vw;
}
.menu-hamburger_active + .list {
    transform: translateX(0);
}


/* before after */

.menu-hamburger {
    margin: 1vw 1vw;
    width: 2.5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 4;
}
.hamburger {
    width: 100%;
    height: 0.3vw;
    background-color: white;
    position: relative;
    transition: 1s;
}
.hamburger::before {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 1s;
    transform: translateY(-200%);
}
.hamburger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 1s;
    transform: translateY(200%);
}
.menu-hamburger_active .hamburger {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s;
}
.menu-hamburger_active .hamburger::before {
    opacity: 1;
    transform: translateY(0) rotate(135deg);
    transition: all 0.5s;
}
.menu-hamburger_active .hamburger::after {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
    transition: all 0.5s;
}

  













